body {
	 margin: 0;
	}
	.wrapper {
	  margin: 0 auto;
	   width: 79.5%;
	    font-family: Roboto;
	  }


	.header {
    display: flex;
	   padding: 40px 0px;
	    justify-content: space-between;
	     margin-bottom: 127px;
	   }
	.logo {
   position: relative;
    padding: 0px 0;
     padding-left: 44px;
      font: bold 24px/31px pt_serif-bold, arial, helvetica, sans-serif;
  }
.logo__circle {
  position: absolute;
   left: 0;
    top: 50%;
     transform: translateY(-50%);
      width: 28px;
       height: 28px;
        border-radius: 50%;
         opacity: 0.7;
}
.logo__circle_color_blue {
   left: 8px;
    top: 56%;
     background: #C8DBFB;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
	.menu {
	  display: flex;
	   align-items: center;

	}
	.menu__item {
	  position: relative;
	   margin-right: 22px;
	    left: 0;
	     font: bold 18px/21px pt_serifbold, arial, helvetica, sans-serif;
	      color: #000;
	       text-decoration: none;
	}
	.menu__item:last-child {
	  margin: 0;
	   margin-right: 4px;
	}
	.menu__item_active::after {
	  position: absolute;
	   display: block;
	    content: "";
	     width: 100%;
	      height: 3px;
	       background: #0056EC;
	}
	.main__item-text_line {
		text-decoration: none;
		border-bottom: 3px solid blue;
		}
	.menu__item:after {
	  position: absolute;
	   display: block;
	    content: "";
	     height: 3px;
	      background: #0056EC;
	       opacity: 0;
	        transition: opacity .5s;

	}
	.menu__item:hover {
	  opacity: 0.5;
	}
	.menu__item:hover:after, .menu__item_active:after {
	  opacity: 1;
	}
	.main {
	  background: 98.5% 0 url(img/Frame1.svg);
	   background-repeat: no-repeat;
	    padding-right: 58.8%;
	     width: 42%;
	      height: 657px;
	}
	.main__title {
	  margin: 0;
	   font: 700 66px/87px pt_serifbold, arial, helvetica, sans-serif;
	    padding: 79px 0 64px;
	     height: 216px;
	}
	.main__subtitle {
	  margin: 0;
	   margin-top: 18px;
	    margin-bottom: 100px
	     width: 66%;
	      font-size: 22px;
	       line-height: 26px;
	        font: 400 22px/23px pt_serifbold, arial, helvetica, sans-serif;
	}
	.main__title-text_highlight {
	    background: #ECF3FF;
	}
	.main__button {
    display: inline-block;
     font: 18px/14px Roboto, arial, helvetica, sans-serif;
	    color: #fff;
	     background: #0056EC;
	      padding: 22px 28px;
	       text-decoration: none;
	        border-radius: 4px;
	         margin: 44px 0px;
	}
  .main__button:hover{
    opacity: 0.5;
    }
